<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            font-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
</head>
<body>
    <div>
        <th:block th:each="car:${list}">
            <h1 th:text="${car.toString()}"></h1>
        </th:block>
    </div>
</body>
</html>